{{!-- Reference from Finesse --}}
{{!-- <div class="product">
	<a href={{link}} target="_blank">
		<h3 class="item-link">{{title}}</h3>
	</a>

	<h5>Sale Price: <span>{{price}}</span></h5>

	<a href={{link}} target="_blank"><img src={{image}} class="item-image"></a>
	<br><br>
	<div class="uk-flex uk-flex-between">
		<button class="uk-button uk-button-text add-note" data-id="{{_id}}">Add Note</button>
		<button class="uk-button save-note" data-id="{{_id}}">save</button>
	</div>

</div> --}}

<div class="artist-affiliate">
	<a href={{link}} target="_blank"><img src={{image}} class="artist-image"></a>
	<div class="artist-name-overlay">{{name}}</div>
</div>